body{
    padding: 1rem;
}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8rem;
    color: #1c75bc;
}

h2{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
   
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
}


.img_logo{
    height: 80px;
}

.cont_title{
    padding: 15px;
    height: 15%;
    text-align: center;
    
}

.sec_2{
    background-color: #1c74bcd3;
padding: 2rem;
    
}

.dropdown-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .service-row {
    gap: 1rem;
    position: relative;
  }
  
  .service-img-wrapper {
    /* Para que la imagen sobresalga sin tapar texto */
    padding-top: 2rem; /* da espacio arriba */
    position: relative;
  }
  
  .service-img {
    max-width: 90%;
    position: relative;
    top: -40px; /* sobresalir hacia arriba */
    z-index: 10;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    border-radius: 0.25rem;
  }
  
  .service-text {
    background-color: white;
    z-index: 5;
    /* Opcional: para que la tarjeta tenga borde o sombra */
    border-radius: 0.25rem;
  }
  
  @media (max-width: 767.98px) {
    .service-img {
      position: relative;
      top: 0;
      max-width: 100%;
      margin-bottom: 1rem;
    }
    .service-img-wrapper {
      padding-top: 0;
    }


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    color: #1c75bc;
}

h2{
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
   
}
  }
  