
/*menu superior*/
#toggleIcon:hover{
color: #1c75bc !important;
font-size: 2rem;
text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.menu3 {
    color: gray;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  
  .con_menu3:hover *,
  .con_menu3:hover {
    color: #fff;
    background-color: #1c75bc;
    cursor: pointer;
  }
  
  /* esta clase solo se activa cuando esta toggle y onClick, es decir que se queda activa y se desactiva en el siguiente click*/
  .active-submenu {
    color: #fff !important;
    background-color: #1c75bc !important;
  }
  
  #menu4 {
    visibility: hidden;
  }
  .fa-angle-right{
    visibility: hidden;
  }

  #serv:hover *,
  .fa-angle-right:hover{
    visibility: visible;
  }

  
  
  /*menu footer*/
  .sec_3 {
    background-color: #1c75bc ;  /* tu color blanco */
    padding: 2rem;
   }
  
    .sec_3 p.clear_text {
    color: rgb(255, 255, 255);
    text-align: right;
    line-height: 0.5;
  }
  .h2_f{
    color: #fff;
  }

  /* Efecto de saltito y glow */
  .glow-bounce {
    animation: bounce 1.5s infinite;
    text-shadow: 0 0 5px #61a0d4, 0 0 0px #7ca2c1;
  }
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

/* Efecto sin glow y sin movimiento */
.static-icon {
  animation: none;
  box-shadow: none;
}
