

#toggleIcon{
  font-size: 2rem;
}
.menu3 {
    color: gray;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  
  /* esta clase solo se activa cuando esta toggle y onClick, es decir que se queda activa y se desactiva en el siguiente click*/
  .active-submenu {
    color: #fFff !important;
    background-color: #1c75bc !important;
  }
  
  #menu4 { /*este es el submenu de servicios*/
    visibility: hidden;
  }
  
 /* hover para el menu principal*/

  
#toggleIcon:hover{ /*boton superior*/
  color: #1c75bc !important;
  font-size: 2.5rem;
   text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }

  .con_menu3:hover *,
  .con_menu3:hover { /*esta es la fila de cada item*/
    color: #ffff;
    background-color: #1c75bc;
    cursor: pointer;
  }

  #serv:hover *,
  .fa-angle-right:hover{ /*sub-menu Servicios*/
    visibility: visible;
  }

  /*menu footer*/
  .sec_3 {
    background-color: #1c75bc ;  /* tu color blanco */
    padding: 2rem;
   }
  
    .sec_3 p.clear_text {
    color: rgb(255, 255, 255);
    text-align: right;
    line-height: 0.5;
  }
  .h2_f{
    color: #fff;
  }

  /* Efecto de saltito y glow */
  .glow-bounce {
    animation: bounce 1.5s infinite;
    text-shadow: 0 0 5px #61a0d4, 0 0 0px #7ca2c1;
  }
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

/* Efecto sin glow y sin movimiento */
.static-icon {
  animation: none;
  box-shadow: none;
}
